@model Gosto.ViewModels.MenuSectionItemsVM

@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked menu-item active-color menuSections">
                @{var currentModel = Model;
                    for (int i = 0; i < currentModel.MenuSections.Count(); i++)
                    {
                        var item = Model.MenuSections[i];
                        <li><a id="menu(@item.ID)" onclick="getMenuItems(@item.ID)" data-toggle="pill">@item.Name</a></li>
                    }}
            </ul>
        </div>

        <div id="menuContent">
            <div class="col-sm-10">
                <div class="tab-content">
                    <table class="table table-hover table-striped menu-item">
                        <tbody class="table-hover">
                            @{
                                var menuSection = Model.MenuSections[0];

                                for (int i = 0; i < menuSection.MenuItems.Count(); i++)
                                {
                                    var item = menuSection.MenuItems[i];
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>Rs. @item.Price/=</td>
                                        <td><a onclick="addToCart(@item.ID)" class="btn btn-success">Add to cart</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getMenuItems(ID) {
        var url = "/Home/GetMenuSectionItems/";
        $.get(url, { ID: ID })
         .done(function (response) {
             $("#menuContent").html(response);
         })
    }
</script>

<script>
    function addToCart(ID) {
        var url = "/Shopping/AddToCart/";
        $.get(url, { ID: ID })
        .done(function () {
            alert("Item has been added to your shopping cart.");
        })
    }
</script>



<script>
    if ($(window).width() <= 800) {
        $('ul.nav').find('a').click(function () {
            $('body').scrollTo('#menu16');
        });
    }
</script>